:root {
    --main-color: #1F2833;
    --text-color: #c5c6c7;
    --title-color: #66FCF7;
    --border-color: #45A29E;
    --box-color: #0B0C10;
    --sidebar: #2a3746;
    --sidebar-hover: #324253;
}

.games {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.games-btn {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.games-btn button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}

.games-btn button:hover {
    transition: 0.3s;
    color: var(--title-color);
}

.boxes {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: 0.5s;
}

.box {
    height: 50px;
    width: 50px;
    background: var(--text-color);
    text-align: center;
}

.box h1 {
    font-size: 16px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}

.back:hover {
    transition: 0.3s;
    color: var(--title-color);
}
/* ######### second game ########*/
.game-2-container {
    padding-left: 20%;
    padding-top: 40px;
}

.car-game {
    width: 800px;
    height: 550px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.street {
    width: 750px;
    height: 200px;
}

.line {
    position: absolute;
    top: 135px;
    width: 750px;
    height: 1px;
    background-color: var(--box-color);
}
/* 298    1018  720 */
.car {
    position: absolute;
    top: 115px;
    left: 298px;
    width: 30px;
    height: 20px;
    background-color: var(--box-color);
    border-radius: 5px;
    transition: 0.3s;
}
.speed-count {
    width: 750px;
    height: 150px;
    text-align: center;
}
.topic {
    width: 750px;
    height: 200px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    line-height: 160%;
}
.letter {
    padding: 3px 0px;
}
