:root {
    --main-color: #1F2833;
    --text-color: #c5c6c7;
    --title-color: #66FCF7;
    --border-color: #45A29E;
    --box-color: #0B0C10;
    --sidebar: #2a3746;
    --sidebar-hover: #324253;
}

.games-main-page {
    margin: 0;
    padding: 0;
    background: url(../images/photo_2023-04-28_15-02-32.jpg) no-repeat fixed center;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.games-btn {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.games-btn button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}

.games-btn button:hover {
    transition: 0.3s;
    color: var(--title-color);
}
/* /////////////////// */
.first-game {
    margin: 0;
    padding: 0;
    background: url(../images/birds.jpg) no-repeat fixed center;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boxes {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: 0.5s;
}

.box {
    height: 50px;
    width: 50px;
    background: var(--text-color);
    text-align: center;
}

.box h1 {
    font-size: 16px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.games-back-btn a{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.games-back-btn a:hover {
    transition: 0.3s;
    color: var(--sidebar);
}
/* ######### second game ########*/
.second-game {
    margin: 0;
    padding: 0;
    background: url(../images/wp5567675.jpg) no-repeat fixed center;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.game-2-container {
    padding-left: 20%;
    padding-top: 40px;
}

.car-game {
    width: 800px;
    height: 550px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.street {
    width: 750px;
    height: 200px;
}

.light-2 {
    background: url(../icons/street-light-2.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 50px;
    top: 91px;
    left: 294px;
    background-size: 40px;
}

.tree-1 {
    background: url(../icons/oak-tree.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 50px;
    top: 93px;
    left: 590px;
    background-size: 40px;
}
.tree-2 {
    background: url(../icons/coconut-tree.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 50px;
    top: 90px;
    left: 890px;
    background-size: 40px;
}
.cloud {
    background: url(../icons/cloud-2.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 50px;
    top: 50px;
    left: 770px;
    background-size: 40px;
}
.cloud-2 {
    background: url(../icons/cloud-2.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 50px;
    top: 50px;
    left: 470px;
    background-size: 40px;
}
.winner {
    background: url(../icons/trophy-1st.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 30px;
    top: 105px;
    left: 1020px;
    background-size: 40px;
}

.line {
    position: absolute;
    top: 135px;
    width: 750px;
    height: 1px;
    background-color: var(--box-color);
}
/* 298    1018  720 */
.car {
    background: url(../icons/race-car-1-svgrepo-com.svg) no-repeat center;
    position: absolute;
    width: 37px;
    height: 20px;
    top: 118px;
    left: 298px;
    background-size: 40px;
    transition: 0.3s;
}
.speed-count {
    width: 750px;
    height: 150px;
    text-align: center;
}
.topic {
    width: 750px;
    height: 200px;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    line-height: 160%;
}   
.letter {
    padding: 3px 0px;
}
/* ##### Third Game ##### */

.third-game {
    background: #1F2833;
}

.ghost-game {
    background: #c5c6c7;
    width: 800px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-game .container {
    padding-left: 20%;
    padding-top: 40px;
}

.scary-road{
    position: absolute;
    top: 330px;
    width: 780px;
    height: 2px;
    background: black;
}

.ghost{
    background: url(../icons/ghost-1.svg) no-repeat center;
    position: absolute;
    transition: 0.4s;
    width: 40px;
    height: 300px;
    top: 160px;
    left: 285px;
    background-size: 40px;
}
.human{
    background-image: url(../icons/walking-human.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 290px;
    left: 400px;
    background-size: 40px;
}
.door{
    background-image: url(../icons/closed-door.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 290px;
    background-size: 40px;


    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.letter {
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color);
    margin-top: -70px;

}