:root {
    --main-color: #58a3ff;
    --text-color: #EDF5E1;
    --title-color: #05386B;
    --border-color: #303C6C;
    --box-color: #0B0C10;
    --sidebar: #2a3746;
    --sidebar-hover:#324253;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background: var(--sidebar);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-hover);
}
/* ########## Main Page */
.main-page {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    text-align: center;
}

.title-name h1 {
    font-size: 40px;
    letter-spacing: 10px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 10px;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: var(--title-color);
}

.links{
    display: flex;
    flex-direction: column;    
    gap: 10px;
    text-align: center;
    padding-top: 10%;
    font-size: 40px;
    
}

/*############## Languages Page ###############*/
.languages {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.back{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.back:hover {
    transition: 0.3s;
    color: var(--title-color);
}


/*######## English Page ########*/
.english-page {
    background-color: var(--main-color);
}

.englishExercise{
    position: absolute;
    right: 300px;
    top: 150px;
    width: 50%;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}


.englishExercise p {
    padding: 10px; 
    font-size: 24px;
    text-align: justify !important;
    line-height: 150%;
}

.englishLessonsSidebar{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px solid var(--border-color);
}

.exersice-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--title-color);
    font-size: 20px;
}

.lessons h1 {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: var(--border-color);
}

.sidebarTitle{
    text-align: center;
    font-size: 12px;
    color: var(--title-color);
}


.englishLessonsSidebar div{
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-top: -10px;
}

.lessons div:hover {
    transition: 0.5s;
    background-color: var(--box-color);

}

.speed {
    position: absolute;
    top: 200px;
    right: 50px;
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}

.writtenLetters {
    color: #90c4f0;
}

.pointer {
    position: absolute;
    z-index: 10;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    visibility: hidden;
    font-size: 30px;
}

.start-btn-lang{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.start-btn-lang:hover {
    transition: 0.3s;
    color: var(--title-color);
}

/*######## Person Page ########*/
.persian-page {
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.persionExercise{
    position: absolute;
    right: 300px;
    top: 150px;
    width: 50%;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}


.persionExercise p {
    padding: 10px; 
    font-size: 24px;
    text-align: justify !important;
    line-height: 150%;
}

.persionLessonsSidebar{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px solid var(--border-color);
}

.persionLessonsSidebar div{
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-top: -10px;
}
