:root {
    --main-color: #1F2833;
    --text-color: #c5c6c7;
    --title-color: #66FCF7;
    --border-color: #45A29E;
    --box-color: #0B0C10;
    --sidebar: #2a3746;
    --sidebar-hover:#324253;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background: var(--sidebar);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-hover);
}

.main-page {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    color: var(--title-color);
    border-bottom: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    gap: 40%;
}

.main-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
    color: var(--title-color);

}

.title {
    padding-top: 60px;
    width: 100%;
}

.title h1 {
    font-size: 50px;
}

.info {
    color: var(--text-color);
}

.links{
    font-size: 50px;
}

.start-btn {
    padding-top: 70px;
}

.start {
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}

.start:hover {
    transition: 0.3s;
    color: var(--title-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
}
@media only screen and (max-width: 1000px) {
    .title h1{
        font-size: 40px;
    }
    .main-header {
        display: flex;
        justify-content: center;
        gap: 20%;
    }
}
@media only screen and (max-width: 720px) {
    
}

/*############## Languages Page ###############*/
.languages {
    background-color: var(--main-color);
    color: var(--text-color);
}

.back{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.back:hover {
    transition: 0.3s;
    color: var(--title-color);
}
.lang-title {
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--title-color);
    font-size: 25px;
}

.lang-title p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    width: 60%;
    padding-left: 20%;
}
.lang-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}

.english{
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.english:hover {
    transition: 0.3s;
    color: var(--title-color);
}
.person{
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.person:hover {
    transition: 0.3s;
    color: var(--title-color);
}

@media only screen and (max-width: 520px) {
    .lang-buttons {
        padding-top: 50px;
    }
}
/*######## English Page ########*/
.english-page {
    background-color: var(--main-color);
}

.englishExercise{
    position: absolute;
    right: 300px;
    top: 150px;
    width: 50%;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}


.englishExercise p {
    padding: 10px; 
    font-size: 24px;
    text-align: justify !important;
    line-height: 150%;
}

.englishLessonsSidebar{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px solid var(--border-color);
}

.exersice-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--title-color);
    font-size: 20px;
}

.lessons h1 {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: var(--border-color);
}

.sidebarTitle{
    text-align: center;
    font-size: 12px;
    color: var(--title-color);
}


.englishLessonsSidebar div{
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-top: -10px;
}

.lessons div:hover {
    transition: 0.5s;
    background-color: var(--box-color);

}

.speed {
    position: absolute;
    top: 200px;
    right: 50px;
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}

.writtenLetters {
    color: #90c4f0;
}

.pointer {
    position: absolute;
    z-index: 10;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    visibility: hidden;
    font-size: 30px;
}

.start-btn-lang{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-size: 20px;
}
.start-btn-lang:hover {
    transition: 0.3s;
    color: var(--title-color);
}

/*######## Person Page ########*/
.persian-page {
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.persionExercise{
    position: absolute;
    right: 300px;
    top: 150px;
    width: 50%;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}


.persionExercise p {
    padding: 10px; 
    font-size: 24px;
    text-align: justify !important;
    line-height: 150%;
}

.persionLessonsSidebar{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 1px solid var(--border-color);
}

.persionLessonsSidebar div{
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-top: -10px;
}
